<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- VERSION %></title>
    <script type="text/javascript" src="/node_modules/@xbs/webix-pro/webix.js"></script>
    <link rel="stylesheet" href="/node_modules/@xbs/webix-pro/skins/material.css?v=10.1.0" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/6.3.95/css/materialdesignicons.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="node_modules/webix-jet/dist/jet.umd.js" ></script>

    <script type="module" src=".//views/issue_demo.ts" ></script>

    
    <!-- <script type="text/javascript" src="http://192.168.0.187:82/entry/dist/system-dev.umd.js"></script> -->
    <!-- <script type="text/javascript" src="http://192.168.0.187:82/system/dist/system-model.umd.js"></script> -->
    <!-- <script type="module" src="/src/SysApp.ts"></script> -->
  </head>
  <body>
  </body>
  <!-- <script  type="text/javascript" >
    webix.ui({view:"userManage"});
    // webix.ready(() => {
    //   new HomeApp().render()
    // })
  </script> -->
</html>
<!-- <script type="text/javascript" src="a.js?<%- VERSION %>"></script> -->
